body {
    margin: auto;
    max-width: 50em;
    font-family: sans-serif;
    background-color: rgb(241, 219, 247);
}

.item {
    border: 2px solid black;
    margin: 1em;
    padding: 0.2em 0.5em;
}

.info {
    border: 2px solid black;
    margin: 1em;
    padding: 0.5em;
    background-color: rgb(226, 41, 103);
    color: white;
}