{% extends "layout.html" %}

{% block title %}Reseptin muokkaus{% endblock %}

{% block content %}

<h2>Reseptin muokkaus</h2>
<p>
  <h3>{{ item.title }}</h3>
</p>
<form action="/update_item" method="post">
  <p>
    <label for="title">Reseptin nimi:</label><br />
    <input type="text" name="title" id="title" value="{{ item.title }}" max="50" required/>
  </p>
  <p>
    <label for="ingredients">Ainekset:</label> <br />
    <textarea name = "ingredients" id="ingredients" rows="8" cols="40" max="2000" required>{{ item.ingredients }}</textarea>
  </p>
  <p>
    <label for="instructions">Ohjeet:</label> <br />
    <textarea name = "instructions" id="instructions" rows="8" cols="40" max="2000" required>{{ item.instructions }}</textarea>
  </p>
  <input type="hidden" name="item_id" value="{{ item.id }}"/>

  {% for class in all_classes %}
  <p>
    <label for="class{{ class }}">{{ class }}</label> <br />
    <select name="classes" id="class{{ class }}">
      <option value="">[valitse]</option>
    {% for option in all_classes[class] %}
      {% if classes[class] == option %}
        <option value="{{ class }}:{{ option }}" selected>{{ option }}</option>
      {% else %}
        <option value="{{ class }}:{{ option }}">{{ option }}</option>
      {% endif %}
    {% endfor %}
  </select>
  </p>
  {% endfor %}
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" name="edit" value="Päivitä resepti" />
  <input type="submit" name="back" value="Palaa takaisin" />
</form>

{% endblock %}