{% extends "layout.html" %}

{% block title %}Reseptin kuvat{% endblock %}

{% block content %}

<h2>Reseptin kuvat</h2>
<p>
  <h3>{{ item.title }}</h3>
</p>
<p>
  Ilmoituksessa on {{ images | count }} kuvaa.
</p>
<form action="/remove_images" method="post">
  {% for image in images %}
  <input type="checkbox" name="image_id" value="{{ image.id }}">
  <img src="/image/{{ image.id }}" />
  <br />
  {% endfor %}
  <input type="hidden" name="item_id" value="{{ item.id }}" >
  <p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Poista valitut" />
  </p>
</form>
<h2>Lisää uusi kuva</h2>
<form action="/add_image" method="post" enctype="multipart/form-data">
  <p>
    Kuva: <input type="file" name="image" accept=".png" />
  </p>
  <input type="hidden" name="item_id" value="{{ item.id }}" >
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" name="change" value="Lähetä" />
  <input type="submit" name="back" value="Palaa takaisin" />
</form>

{% endblock %}