<!DOCTYPE html>
<html>

<head>
  <title>Reseptipankki</title>
</head>

<body>
    <h1>Reseptipankki</h1>
  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}
  </p>
  <p>
    <a href="/logout">Kirjaudu ulos</a>
  </p>
  <p>
    <a href="/new_item">Luo resepti</a>
  </p>
  {% else %}
  <p>
    <a href="/register">Luo tunnus</a>
  </p>
  <p>
    <a href="/login">Kirjaudu sisään</a>
  </p>
  {% endif %}
  <h2>Reseptit</h2>
  <ul>
    {% for item in items %}
    <li><a href="/item/{{ item.id }}">{{ item.title }}</a></li>
    {% endfor %}
  </ul>
</body>

</html>